
/* Tags */

body
{
    font-family: arial, sans-serif;
    font-size: 16px;
    color: rgb(200,180,180);
    background-color: rgb(0,42,50);
    margin: 0px;
    padding-left: 2%;
    padding-top: 0%;
    /*margin-left: 2%;
    margin-right: 2%;*/
}

td
{
    padding-left: 10px;
}


input,select
{
    color: #ccc;
    background: rgba(20,30,40,.9);
    border: 1px solid rgba(00,00,00,.4);
    border-radius: .2rem;
    margin: 1px;
    padding: 4px;
}
/**/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;   
}




hr
{
    border-style: dotted;
}


a
{
    text-decoration: none;
    color: rgb(210,50,50);
}
a:hover
{
    color: rgb(250,100,80);
}


h2
{
	/* text-align: center; */
	color: /*var(--title-col);*/ #105870;
}


h3
{
    color: #105870;
}


output
{
	color: white;
}


canvas
{
    border-radius: 1rem;
    border: 1px solid black;
    background: rgba(10,30,40,1);
    /*background-image: url("resources/pics/desmosWaves.jpeg");
    background-size: 110%;*/
    /*opacity: 1;*/
}



/* Classes */


.pop
{
    color: rgb(200,200,200);
    opacity: .8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.pop:hover
{
    color: rgb(200,200,200);
    /*font-weight: 500;*/
    opacity: 1;
}



.slider
{
    -webkit-appearance: none;
    appearance: none;
    border-radius: .5rem;
    position: absolute;
    height: 16px;
    width: 120px;
    background: grey;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover
{
    opacity: .4;
}
.slider::-webkit-sliter-thumb
{
    -webkit-appearance: none;
    appearance: none;
    border-radius: .5rem;
    margin: 10px;
    width: 20px;
    height: 20px;
    background: green;
    cursor: pointer;
}
.slider::-moz-range-thumb
{
    width: 15px;
    height: 15px;
    background:red;
    border-radius: .5rem;
    cursor: pointer;
}
#resolutionPick
{
    position: absolute;
    font-size: 20px;
    text-align: center;
}


.logo
{
    color: rgb(255,255,255);
    font-family: 'Princess Sofia', cursive;
}
.cap
{
    font-family: 'Princess Sofia', cursive;
}


.sub
{
    color: grey;
}



.sandbox
{
    /*display: none;*/
    visibility: hidden;
}



/* IDs */


#freqTable
{
    text-align: top;
}

#sail_wave {
    color: #105870;
	text-decoration-line: underline;
	text-decoration-style: wavy;
}


#embed_work
{
    display: none;
}




/* css */

/*
:root{
	--title-col: #105870;
}
*/

/*
*, *::before, *::after {
    box-sizing: border-box
}
*/


.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url('resources/pics/portrait.jpeg') ;/*url('https://source.unsplash.com/nKC772R_qog');*/
    background-size: 120%; /*cover;*/
    background-position: center;
}

.avatar:hover::before {
    content: attr(data-tooltip);
    color: white;
    background: #333;
    padding: 2px;

    transform: translateX(-50%) translateY(-100%);
    transform: bottom center;

}

/*
.avatar::before,
.avatar::after {
    --scale: 0;
    
    position: absolute;
    top: -.25rem;
    left: 50%;

    transform: translateX(-50%) translateY(-100%) scale(var(--scale));
    transition: 200ms transform;
    transform: bottom center;
    
}

.avatar::before {
    content: attr(data-tooltip);
    color: white;
    /*padding: .5rem;
    border-radius: .3rem;
    text-align: center;
    width: max-content;
    max-width: 100%;

    background: #333;
    --scale: 1;
}


.avatar:hover::before,
.avatar:hover::after {
    --scale: 1;
}

*/


/* WHEN PDF *

.main-link-table, .pdf-hide
{
    display: none;
}


hr
{
    visibility: hidden;
}

#embed_work
{
    display: block;
}

h4,h3,h2,output
{
    color: black;
}

body,p,ul,ol,ppop,li
{
    color: black;
    font-size: 16px;
    font-family: arial, sans-serif;
    margin-left: 2%;
    margin-right: 2%;
    background: white;
}

/*
.programming, .maintenance, .cleaning, .transport, .horticulture, .construction, .logistics, .basking, .misc
{
    display: none;
}


.maintenance,.cleaning
{
    display: block;
}
#out_profession::before
{
    content: "maintenance";

}

/**/




