
/* Tags */

/* Font (/-family/-size) persistancy */
body, p, table, thead, td, input, output, select, lable
{
    font-family: arial, sans-serif;
    font-size: 16px;
}

h1,h2,h3,h4,h5
{
    font-family: 'Ubuntu Mono', monospace;
    /*font-size: 16px;*/
}


body
{
    font-family: arial, sans-serif;
    /*font-family: times, sans-serif;*/
    /*font-family: 'Nanum Pen Script', cursive;*/
    /*font-family: 'Ubuntu Mono', monospace;*/
    /*font-family: 'New Tegomin', serif;*/
    
    
    font-size: 16px;
    color: rgb(200,180,180);
    /*background-color: rgb(0,42,50);*/
    background-color: #002b36;
    margin: 0px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0%;
    /*margin-left: 2%;
    margin-right: 2%;*/
}

thead
{
    font-weight: 700;
}

td
{
    padding-left: 10px;
}


input,select
{
    color: #ccc;
    background: rgba(20,30,40,.9);
    border: 1px solid rgba(00,00,00,.4);
    border-radius: .2rem;
    margin: 1px;
    padding: 4px;
}
/**/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;   
}


input[type=checkbox]::hover
{
  border: none;
  margin: 0;
  padding: 0;
}


lable
{
}


output
{
	color: white;
}


hr
{
    border-style: dotted;
}


a
{
    text-decoration: none;
    color: rgb(210,50,50);
}
a:hover
{
    color: rgb(250,100,80);
}


h2
{
	/* text-align: center; */
	color: /*var(--title-col);*/ #105870;
}


h3
{
    color: #105870;
}



canvas
{
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    
    border-radius: 1rem;
    border: 1px solid black;
    background: rgb(10,30,40);
    /*background-image: url("resources/pics/fourier.jpeg");*/
    /*background-size: 50%;*/
    /*opacity: 1;*/
}
canvas:hover
{
    opacity: 0.8;
    background: rgb(10,30,40);
    /*background-image: unset;*/
}



/* Classes */


.main-menu-list
{
  all: unset;
  list-style: None;
  display: inline-block;
  margin: 30px 0px 10px 0px;
  /*
  position: fixed;
  z-index: 100;
  background-image: linear-gradient( #002b36, #002b36, rgba(0,0,0,0) );
  border-radius: 0%;
  */
}

.main-menu-element
{
  display: inline-block;
  padding: 5px 20px;
  margin: 0px;
  background-color: rgba(0,0,0,.1);
  border-radius: 10px;

}

.pop
{
    color: rgb(200,200,200);
    opacity: .80;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.pop:hover
{
    /*font-weight: 100;*/
    opacity: 1;
    color: rgb(210,210,210);
}



.slider
{
    -webkit-appearance: none;
    appearance: none;
    border-radius: .5rem;
    position: absolute;
    height: 16px;
    width: 100px;
    background: grey;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover
{
    opacity: .4;
}
.slider::-webkit-sliter-thumb
{
    -webkit-appearance: none;
    appearance: none;
    border-radius: .5rem;
    margin: 10px;
    width: 20px;
    height: 20px;
    background: green;
    cursor: pointer;
}
.slider::-moz-range-thumb
{
    width: 15px;
    height: 15px;
    background:red;
    border-radius: .5rem;
    cursor: pointer;
}
#resolutionPick
{
    /*position: absolute;*/
    font-size: 20px;
    text-align: center;
}


.logo
{
    color: rgb(255,255,255);
    font-family: 'Princess Sofia', cursive;
}
.cap
{
    /*font-family: 'Princess Sofia', cursive;*/
    /*font-family: 'Nanum Pen Script', cursive;*/
    /*font-family: 'Ubuntu Mono', monospace;*/
    /*color: rgba(150,50,30,.8);*/
}



.avatar {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-image: url('resources/pics/self2.jpeg'); /*url('https://source.unsplash.com/nKC772R_qog');*/
    background-size: 120%; /*cover;*/
    background-position: 60% 50%;
    /*background-position: 60% 40% ; /*self1*/
    margin: 10px; 
    position: absolute;
}



.welcome0
{
    /*
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    */
    font-family: 'Nanum Pen Script', cursive;
    /*font-family: 'Ubuntu Mono', monospace;*/
    /*font-family: 'New Tegomin', serif;*/
    font-size: 125%;
    
    /*position: relative;
    bottom: 40px;*/
}
.welcome0:hover
{
    opacity: 1
    /*font-family: 'Nanum Pen Script', cursive;*/
    /*font-family: 'Ubuntu Mono', monospace;*/
    /*font-family: 'New Tegomin', serif;*/
}


.welcome1
{
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
    /*font-family: 'Nanum Pen Script', cursive;*/
    font-family: 'Ubuntu Mono', monospace;
    font-size: 80%;
    /*font-family: 'New Tegomin', serif;*/
    
    /*position: relative;
    top: 40px;*/
}
.welcome1:hover
{
    opacity: .9;
    /*display:inline-block;*/
    /*font-family: 'Nanum Pen Script', cursive;*/
    /*font-family: 'Ubuntu Mono', monospace;*/
    /*font-family: 'New Tegomin', serif;*/
}




.sub
{
    color: grey;
}



.sandbox
{
    /*display: none;*/
    visibility: hidden;
}



/* IDs */

#main-link-table
{
    position: fixed;
    z-index: 100;
    background-image: linear-gradient( #002b36, #002b36, rgba(0,0,0,0) );
    border: 0;
    margin-top: 0;
    padding-top: 0;
    padding-right: 100%;
    border-radius: 0%;
}

#main-link-table-space
{
    padding: 35px;
}

#dft_formula
{
    /*display: block;*/
    text-align: center;
    margin: auto 0 auto 0;
    top: 20px;
    left: 20px;
}


#dft_info
{
    font-family: 'New Tegomin', serif;
    display: inline-block;
    width: 300px;
    position: absolute;
    left: 550px;
    top: 110px;
}


#freqTable1,
#freqTable2
{
    /*text-align: top;*/
    top: 20px;
}
/*
#freqTable1 thead
{
    color: rgb(100,100,200);
}
*/

#freqTable2 thead
{
    color: rgba(200,50,50,.9);
}

#freqTable1
{
    position: absolute;
    left: 25px;
}


#freqTable2
{
    position: absolute;
    left: 740px;
}



#sail_wave {
    color: #105870;
	text-decoration-line: underline;
	text-decoration-style: wavy;
}


#embed_work
{
    display: none;
}


#cloud1
{
    opacity: .9;
    z-index: 1;
    
    padding-left: 200px;
    width: 350px;
    padding-right: 0;
    position: absolute;
    /*right: 40%;*/
    top: 100px;
    -webkit-transition: .5s;
    transition: padding opacity .5s;
}
#cloud1:hover
{
    opacity: 0;
    padding-left: 400px;
}

#cloud2
{
    opacity: .9;
    z-index: -1;
    
    /*padding-left:100%;*/
    width: 20%;
    position: absolute;
    right: 30%;
    top: 250px;
}

#cloud3
{
    opacity: .9;
    z-index: -1;
    
    /*padding-left:100%;*/
    width: 10%;
    position: absolute;
    right: 55%;
    top: 320px;
}

#mountain
{
    width: 100%;
    position: absolute;
    right:0%;
    left:0%;
}


/* css */

/*
:root{
	--title-col: #105870;
}
*/

/*
*, *::before, *::after {
    box-sizing: border-box
}
*/





/* WHEN PDF *

#professionSelector{
    display: block;
}

.pdf-hide
{
    display: none;
}


hr
{
    visibility: hidden;
}

#embed_work
{
    display: block;
}

h4,h3,h2,output
{
    color: black;
}

body,p,ul,ol,li,.pop
{
    opacity: 1;
    color: black;
    font-size: 16px;
    font-family: arial, sans-serif;
    margin-left: 2%;
    margin-right: 2%;
    background: white;
    margin: 0px 10px 0px;
}

/*
.programming, .maintenance, .cleaning, .transport, .horticulture, .construction, .logistics, .basking, .misc
{
    display: none;
}


.maintenance,.cleaning
{
    display: block;
}
#out_profession::before
{
    content: "maintenance";

}

/**/




