*, *::before, *::after {
    box-sizing: border-box
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}



.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('https://source.unsplash.com/nKC772R_qog');
    background-size: cover;
    background-position: center;
    position: relative;
}


.avatar::before, .avatar::after {
    /*--scale: 0;*/
    
    position: absolute;
    content: '';
    top: -.25rem;
    left: 50%;
    
    height: 50px;
    width: 50px
    background: black;  
    /*
    transform: translateX(-50%) translateY(-100%) scale(var(--scale));
    transition: 200ms transform;
    transform: bottom center;
    */
    
}

/*
.avatar::before {
    content: attr(data-tooltip);
    color: white;
    padding: .5rem;
    border-radius: .3rem;
    text-align: center;
    width: max-content;
    max-width: 100%;

    background: #333;
    --scale: 1;
}


.avatar:hover::before,
.avatar:hover::after {
    --scale: 1;
}








